/* Estilos principais */
@import url('base/variables.css');
@import url('base/reset.css');
@import url('components/header.css');

body {
    background-color: var(--bege-claro);
    color: var(--preto);
    font-family: var(--fonte-principal);
}